@import "tailwindcss";

:root {
  
  color-scheme: light dark;
  color: #1B5018;
  background-color: #ffdf9f;
}


body {
  cursor: none;
}

::selection{
  background-color: #1B5018;
  color:white;
}

#about_1, #about_2{
  user-select: none;

}

.email_copy{
  width: 180px;
  border-radius: 10px;
  padding: 5px;
  background-color: #1B5018;
  color:white;
}

#project_1{
  background-image: url("/clothes.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  
}

#project_2{
  background-image: url("/noteapp.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

#project_3{
  background-image: url("/processor.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

#project_4{
  background-image: url("/dumbbell.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}