@import "tailwindcss";

:root {
  
  color-scheme: light dark;
  color: #1B5018;
  background-color: #f0d8a8;
}


body {
  cursor: none; /* Oculta el cursor normal */
}

::selection{
  background-color: #1B5018;
  color:white;
}

#about_1, #about_2{
  user-select: none;

}