@import "tailwindcss";

:root {
  
  color-scheme: light dark;
  color: #1B5018;
  background-color: #f0d8a8;
}


body {
  cursor: none;
}

::selection{
  background-color: #1B5018;
  color:white;
}

#about_1, #about_2{
  user-select: none;

}

.email_copy{
  width: 180px;
  border-radius: 10px;
  padding: 5px;
  background-color: #1B5018;
  color:white;
}